button {
  text-align: center;
  text-decoration: none;
  margin: auto;
  border: 2px solid #27acd9;
  color: #27acd9;
  border-radius: 100vh;
}
button:hover {
  color: #fff;
  background: #27acd9;
  cursor: pointer;
}
